<!DOCTYPE html>
<html>
<head>
	<title>爬取一个在线练习平台</title>
</head>
<body>
	<div id=187996 class='product'>
    <div class='p_img'>
        <a href='Handle/187996.shtml' title='山东永通塑业股份有限公司名下的土地、房产、构筑物及厂区内的机器设备'>
            <img src='https://file.rmfysszc.gov.cn/TgbFiles/UploadFiles/202512/05/O1CN01KxuuyF1sMvZPn37Kn_!!2207565095753-0-paimai_gov.jpg_960x960.jpg.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/187996.shtml'>山东永通塑业股份有限公司名下的…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
        <div style='position:absolute;top:0px;right:50px;width:50px;height:20px;z-index:999;background:#FA5C1E;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>最新</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>8467.584751万</strong>
        </p>
        <p>
            评估值<span>9595.623545万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月22日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187996.shtml'>149次围观</a>
        <a href='Handle/187996.shtml'>报名人数0</a>
    </div>
</div>
<div id=187992 class='product'>
    <div class='p_img'>
        <a href='Handle/187992.shtml' title='山东金航塑业集团有限公司名下的土地、房产、构筑物及厂区内的机器设备'>
            <img src='https://file.rmfysszc.gov.cn/TgbFiles/UploadFiles/202512/05/O1CN01wL8IDu1sMvZQnCyh6_!!2207565095753-0-paimai_gov.jpg_960x960.jpg.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/187992.shtml'>山东金航塑业集团有限公司名下的…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
        <div style='position:absolute;top:0px;right:50px;width:50px;height:20px;z-index:999;background:#FA5C1E;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>最新</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>4370.43538万</strong>
        </p>
        <p>
            评估值<span>5161.783598万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月22日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187992.shtml'>112次围观</a>
        <a href='Handle/187992.shtml'>报名人数0</a>
    </div>
</div>
<div id=187990 class='product'>
    <div class='p_img'>
        <a href='Handle/187990.shtml' title='重庆兴乡企业管理咨询有限公司名下一批对外应收账款（包括应收账款、预付款和其他应收款）'>
            <img src='https://file.rmfysszc.gov.cn/TgbFiles/UploadFiles/202512/05/微信图片_20251205122258_256_168.png'>
        </a>
        <div class='p_title'>
            <a href='Handle/187990.shtml'>重庆兴乡企业管理咨询有限公司名…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
        <div style='position:absolute;top:0px;right:50px;width:50px;height:20px;z-index:999;background:#FA5C1E;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>最新</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong style='font-size:20px;'>10143.213486万</strong>
        </p>
        <p>
            评估值<span>10143.213486万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>1月6日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187990.shtml'>146次围观</a>
        <a href='Handle/187990.shtml'>报名人数0</a>
    </div>
</div>
<div id=187970 class='product' style='margin-right:0px;'>
    <div class='p_img'>
        <a href='Handle/187970.shtml' title='崇礼区西湾子镇裕兴路容辰国际假日酒店及容辰国际度假滑雪小区酒店附楼'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/436A8583F4ED78EB87D41AC9533DFBD1/C09D00A8F270937F7D4B19E23F6BA3F8/C09D00A8F270937F7D4B19E23F6BA3F8-1.png'>
        </a>
        <div class='p_title'>
            <a href='Handle/187970.shtml'>崇礼区西湾子镇裕兴路容辰国际假…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
        <div style='position:absolute;top:0px;right:50px;width:50px;height:20px;z-index:999;background:#FA5C1E;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>最新</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>5205.42624万</strong>
        </p>
        <p>
            评估值<span>8675.7104万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月22日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>变卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187970.shtml'>190次围观</a>
        <a href='Handle/187970.shtml'>报名人数0</a>
    </div>
</div>
<div id=187968 class='product'>
    <div class='p_img'>
        <a href='Handle/187968.shtml' title='重庆中机龙桥热电有限公司对外应收款项'>
            <img src='//www.rmfysszc.gov.cn/Images/default1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/187968.shtml'>重庆中机龙桥热电有限公司对外应…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
        <div style='position:absolute;top:0px;right:50px;width:50px;height:20px;z-index:999;background:#FA5C1E;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>最新</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>1162.367万</strong>
        </p>
        <p>
            评估值<span>--万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月13日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第3次及以上拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187968.shtml'>103次围观</a>
        <a href='Handle/187968.shtml'>报名人数0</a>
    </div>
</div>
<div id=187967 class='product'>
    <div class='p_img'>
        <a href='Handle/187967.shtml' title='北京市大兴区保安庄1号院1幢等3幢及国有土地使用权'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/B43FD89F5C17425B899B6F821305A966/06DE3F1EFA4BB36A83251AF4DEEED886/06DE3F1EFA4BB36A83251AF4DEEED886-1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/187967.shtml'>北京市大兴区保安庄1号院1幢等3…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
        <div style='position:absolute;top:0px;right:50px;width:50px;height:20px;z-index:999;background:#FA5C1E;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>最新</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>3563.7万</strong>
        </p>
        <p>
            评估值<span>3959.71万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>1月6日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187967.shtml'>147次围观</a>
        <a href='Handle/187967.shtml'>报名人数0</a>
    </div>
</div>
<div id=187966 class='product'>
    <div class='p_img'>
        <a href='Handle/187966.shtml' title='重庆两江蚕业发展有限公司对佳程集团有限公司债权'>
            <img src='//www.rmfysszc.gov.cn/Images/default1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/187966.shtml'>重庆两江蚕业发展有限公司对佳程…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
        <div style='position:absolute;top:0px;right:50px;width:50px;height:20px;z-index:999;background:#FA5C1E;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>最新</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>10826.8384万</strong>
        </p>
        <p>
            评估值<span>--万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>1月6日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第3次及以上拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187966.shtml'>93次围观</a>
        <a href='Handle/187966.shtml'>报名人数0</a>
    </div>
</div>
<div id=187222 class='product' style='margin-right:0px;'>
    <div class='p_img'>
        <a href='Handle/187222.shtml' title='位于怀来县沙城镇董存瑞西大街1号一区、二区（一层）、2-10层'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/D6165ED87E2AA70460CB600375FD88D7/8359FAA24C091DB07685678CF8012816/8359FAA24C091DB07685678CF8012816-1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/187222.shtml'>位于怀来县沙城镇董存瑞西大街1…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>6497.081024万</strong>
        </p>
        <p>
            评估值<span>10151.6891万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月15日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第2次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187222.shtml'>603次围观</a>
        <a href='Handle/187222.shtml'>报名人数0</a>
    </div>
</div>
<div id=187203 class='product'>
    <div class='p_img'>
        <a href='Handle/187203.shtml' title='上海市浦东新区惠南镇城南路1385弄58号全幢'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/ECF5EA5E67600D12AECAAEE9CBA03247/F185F24901C33C53D49F3ECBAB0DFCCF/F185F24901C33C53D49F3ECBAB0DFCCF-1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/187203.shtml'>上海市浦东新区惠南镇城南路138…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>1058万</strong>
        </p>
        <p>
            评估值<span>1511万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>1月6日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187203.shtml'>926次围观</a>
        <a href='Handle/187203.shtml'>报名人数0</a>
    </div>
</div>
<div id=187202 class='product'>
    <div class='p_img'>
        <a href='Handle/187202.shtml' title='山东兴明人造板有限公司位于高唐县光明路西首北侧140937高国用（2007）第0700499号及高房权证公字第0427、0428、0429号房产'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/9A2456C02F6540FC844A9702D29422A7/A6C07DE4888A4433B5CEB8126F633F8C/A6C07DE4888A4433B5CEB8126F633F8C-1.png'>
        </a>
        <div class='p_title'>
            <a href='Handle/187202.shtml'>山东兴明人造板有限公司位于高唐…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>2523万</strong>
        </p>
        <p>
            评估值<span>3603.31万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月29日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187202.shtml'>391次围观</a>
        <a href='Handle/187202.shtml'>报名人数0</a>
    </div>
</div>
<div id=187082 class='product'>
    <div class='p_img'>
        <a href='Handle/187082.shtml' title='随州市烟化路与玉柴大道交叉口西北角（湖北香思里食品股份有限公司）1-4号仓库、5号仓库及地上附属物'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/66F2FF07E9CBC86A593A4A2B6C8E89B9/164F246CCE37EE27353A5ABCBD4D29D4/164F246CCE37EE27353A5ABCBD4D29D4-1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/187082.shtml'>随州市烟化路与玉柴大道交叉口西…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>7583.4072万</strong>
        </p>
        <p>
            评估值<span>10532.51万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月14日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第2次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187082.shtml'>464次围观</a>
        <a href='Handle/187082.shtml'>报名人数0</a>
    </div>
</div>
<div id=187064 class='product' style='margin-right:0px;'>
    <div class='p_img'>
        <a href='Handle/187064.shtml' title='天津市滨海新区花园街16号的房地产、设备及家具类资产'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/27DA7B4AF02349B3D61D1DD9104FA895/0ADC53607BDBE28E96085A9241926DB0/0ADC53607BDBE28E96085A9241926DB0-1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/187064.shtml'>天津市滨海新区花园街16号的房地…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>5321.79万</strong>
        </p>
        <p>
            评估值<span>5321.79万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月28日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187064.shtml'>550次围观</a>
        <a href='Handle/187064.shtml'>报名人数0</a>
    </div>
</div>
<div id=187006 class='product'>
    <div class='p_img'>
        <a href='Handle/187006.shtml' title='1.花溪区孟关乡沙坡村及地上附着物'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/9CC4179B6D2D189D2D3EBF2BC31E6AA9/93D71C5C5D17F3452F0C6CDA3E88E839/93D71C5C5D17F3452F0C6CDA3E88E839-1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/187006.shtml'>1.花溪区孟关乡沙坡村及地上附着…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>1734.609816万</strong>
        </p>
        <p>
            评估值<span>2409.1803万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月13日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第2次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187006.shtml'>408次围观</a>
        <a href='Handle/187006.shtml'>报名人数0</a>
    </div>
</div>
<div id=187005 class='product'>
    <div class='p_img'>
        <a href='Handle/187005.shtml' title='2.花溪区孟关乡沙坡村及地上附着物'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/6A146080BBA2CF136A20B3A245EA304E/177C7D57DA9854B2BF2147EE415CAB83/177C7D57DA9854B2BF2147EE415CAB83-1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/187005.shtml'>2.花溪区孟关乡沙坡村及地上附着…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>2224.754424万</strong>
        </p>
        <p>
            评估值<span>3089.9367万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月13日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第2次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/187005.shtml'>421次围观</a>
        <a href='Handle/187005.shtml'>报名人数0</a>
    </div>
</div>
<div id=186945 class='product'>
    <div class='p_img'>
        <a href='Handle/186945.shtml' title='重庆市涪陵区集前路2号绿地涪陵城际空间站新璟里1组团地下车库548个停车用房、2组团地下车库890个停车用房整体拍卖'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/11B932C8C9908BC4D61AE3E937C689A0/702B3D606BD2CF0B775F2FECD58665C5/702B3D606BD2CF0B775F2FECD58665C5-1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/186945.shtml'>重庆市涪陵区集前路2号绿地涪陵…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>4518.346万</strong>
        </p>
        <p>
            评估值<span>6454.78万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月30日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/186945.shtml'>466次围观</a>
        <a href='Handle/186945.shtml'>报名人数0</a>
    </div>
</div>
<div id=186797 class='product' style='margin-right:0px;'>
    <div class='p_img'>
        <a href='Handle/186797.shtml' title='河北嘉运投资管理有限公司在广发证券股份有限公司沧州黄河东路证券营业部所持有的沧州运输集团股份有限公司（股票代码：832289）流通股共计6761670股股票'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/6E3F6F954A621BE93B7BEA5051F387A6/230CF713A14DC519737F80ADF355C307/230CF713A14DC519737F80ADF355C307-1.png'>
        </a>
        <div class='p_title'>
            <a href='Handle/186797.shtml'>河北嘉运投资管理有限公司在广发…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>1686.901432万</strong>
        </p>
        <p>
            评估值<span>2082.59436万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月11日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第2次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/186797.shtml'>690次围观</a>
        <a href='Handle/186797.shtml'>报名人数0</a>
    </div>
</div>
<div id=186795 class='product'>
    <div class='p_img'>
        <a href='Handle/186795.shtml' title='北汽瑞翔汽车有限公司账面对外应收账款一批'>
            <img src='//www.rmfysszc.gov.cn/Images/default1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/186795.shtml'>北汽瑞翔汽车有限公司账面对外应…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
        <div style='position:absolute;top:0px;right:50px;width:60px;height:20px;z-index:999;background:orange;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>即将竞价</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>5524.446442万</strong>
        </p>
        <p>
            评估值<span>--万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月8日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/186795.shtml'>511次围观</a>
        <a href='Handle/186795.shtml'>报名人数0</a>
    </div>
</div>
<div id=186728 class='product'>
    <div class='p_img'>
        <a href='Handle/186728.shtml' title='重庆松溉发电有限公司位于重庆永川区松溉镇松江村理文滨江路80号重庆松溉发电有限公司厂区内的房屋建筑物、构筑物、土地使用权、机器设备、电子设备和苗木以及厂区外围无证部分建筑物、构筑物及土地使用权'>
            <img src='https://file.rmfysszc.gov.cn/TgbFiles/UploadFiles/202511/20/图片1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/186728.shtml'>重庆松溉发电有限公司位于重庆永…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
        <div style='position:absolute;top:0px;right:50px;width:60px;height:20px;z-index:999;background:orange;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>即将竞价</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>3883.497272万</strong>
        </p>
        <p>
            评估值<span>3883.497272万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月8日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/186728.shtml'>651次围观</a>
        <a href='Handle/186728.shtml'>报名人数0</a>
    </div>
</div>
<div id=186343 class='product'>
    <div class='p_img'>
        <a href='Handle/186343.shtml' title='河北亿鑫通讯设备有限公司所有的土地使用权、房屋建（构）筑物、机器设备、车辆、办公设备软件、电子设备及其他资产'>
            <img src='https://file.rmfysszc.gov.cn/TgbFiles/UploadFiles/202511/11/6_46ZBB8.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/186343.shtml'>河北亿鑫通讯设备有限公司所有的…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong''>6114.93万</strong>
        </p>
        <p>
            评估值<span>6114.93万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月15日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/186343.shtml'>942次围观</a>
        <a href='Handle/186343.shtml'>报名人数0</a>
    </div>
</div>
<div id=186311 class='product' style='margin-right:0px;'>
    <div class='p_img'>
        <a href='Handle/186311.shtml' title='营口市鲅鱼圈区新城区25-金港海天游乐大世界房产两处及其两处土地'>
            <img src='https://filegy.rmfysszc.gov.cn/2025/1020/ADBE8B306CB5430852E673D06C8BCF46/03A6E114ABBEA56D3677E1E79FDEC56F/03A6E114ABBEA56D3677E1E79FDEC56F-1.jpg'>
        </a>
        <div class='p_title'>
            <a href='Handle/186311.shtml'>营口市鲅鱼圈区新城区25-金港海…</a>
        </div>
        <div style='position:absolute;top:0px;right:0px;width:50px;height:20px;z-index:999;background:red;opacity:0.9;font-size:14px;text-align:center;vertical-align:middle;font-family:Microsoft YaHei;color:#ffffff; '>置顶</div>
    </div>
    <div class='prod-guj' style='height:86px;'>
        <p>
            起拍价<strong style='font-size:20px;'>28391.695101万</strong>
        </p>
        <p>
            评估值<span>36872.3313万</span>
        </p>
        <p>
            开始时间<span class='time-fd'>12月15日10:00</span>
        </p>
        <p style='margin:0;'>
            处置阶段<span class='time-fd'>第1次拍卖</span>
        </p>
    </div>
    <div class='prod-alink'>
        <a title='' href='Handle/186311.shtml'>752次围观</a>
        <a href='Handle/186311.shtml'>报名人数0</a>
    </div>
</div>
","page":"<a onclick='post(1)' class='pagecur'>1</a>
<a onclick='post(2)' class='pagecur1'>2</a>
<a onclick='post(3)' class='pagecur1'>3</a>
<a onclick='post(4)' class='pagecur1'>4</a>
<a onclick='post(5)' class='pagecur1'>5</a>
<a onclick='post(2)' class='next'>下一页</a>
<a onclick='post(6022)' class='next'>尾页</a>


</body>
</html>
